*{
    margin: 0px;
    padding: 0px;
}
/* NAVIGATION STYLING */
#navbar {
    position:sticky;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#navbar li{
    font-size: 1rem;
    padding: 10px 0px;
}
#navbar li a{
    margin: 0px;
}
/* home styling */
#home{
    height: 600px;
    padding: 0px 64px;
}
#home p{
    font-size: 15px;
}
#home ::before{
    height: 700px;
}
/* services */
#ourservices{
    margin: 0px;
}
/* utility class */
.heading1{
    font-size: 25px;
}